* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 236);

}

.header {
    display: flex;
    padding: 20px;
    width: 100%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4d0496;
    color: #ffffff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.header h1 {
    display: flex;
    font-size: 48px;
}

.body h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 30px;
    font-size: 48px;
    
}

.header div {
    margin-top: 20px;
    float: right;
    width: 100%;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style: none;
}

.header div ul li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: end;

}
.header div ul li:hover {
    background-color: black;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

.banner {
    display: flex;
    height: 300px;
    width: 100%;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}

.about-me {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(169, 72, 199);
    color: #ffffff;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    clear: both;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #835da7;
}

.prework-study-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/study-guide.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
    font-size:larger;
    color: #ffffff;
}

.horiseon-refactor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    color: #ffffff;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../images/coming-soon.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
    color: #ffffff;
}

.prework-study-guide h3 {
    margin-bottom: 10px;
    text-align: center;
}

.horiseon-refactor h3 {
    margin-bottom: 10px;
    text-align: center;
}

.coming-soon h3 {
    margin-bottom: 10px;
    text-align: center;
}


.footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    width: 100%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.footer h2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
}

.footer li {
display: flex;
flex-direction: column;
justify-content: center;
color: black; }

.footer li:hover {
    background-color: #835da7;
}
